@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.negativo {
    color: red;
}

.positivo {
    color: blue;
}

i {
    padding-right: 10px;
}

i:hover{
    color: #0069d9;
    cursor: pointer;
}