/*************************** Configurando estilo***************************/

/* Smartfones e dispositivos de tela pequenas*/


@media screen and (min-width:481px){
	/*Definições de estilos*/
	.table-action thead {
	  display: none;
	}
	
	.table-action tr {
	  border-bottom: 1px solid #dddddd;
	}
	
	.table-action td {
	  border: 0;
	}
	.table-action td:not(:first-child) {
	  display: block;
	}
}

@media screen and (max-width:767px){
  	/*Definições de estilos*/
    .table-responsive {
        display: block;
        position: relative;
        width: 100%;
     }

     .table-responsive thead,
     .table-responsive tbody,
     .table-responsive th,
     .table-responsive td,
     .table-responsive tr {
        display: block;
     }

     .table-responsive td,
     .table-responsive th {
        height: 35px;
     } 
     .table-responsive thead {
        float: left;
     } 
     .table-responsive tbody {
		overflow-x: auto; 
		position: relative;
		white-space: nowrap;
		width: auto;
      
        
     }  
     .table-responsive tbody tr {
        display: inline-block;
     }
}


/* Configurando o body */
body{
	background: url(../imagens/fundo-verde.jpg) no-repeat top;
}
		
.container{
	background: #FFF;
    float: none;
	margin: 20px auto;
	padding: 20px;
    width: auto;
}

/* Limpa o float tanto direita iu esquerda */
.clear{
	clear: both;
}

/* Alinhamento de conteudo */
.alinhamento-conteudo{
	align-content: center;
	
}

/* Estilizando imagens*/
.imagem{
	
	display: block;
	height: 419px;
	margin: 2px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	width: auto;		
}


/* Configurando galeria*/
.galeria{
	border: 2px black solid;
	margin-bottom: auto;
	margin-right: auto;
	margin-top: auto;
	padding: 0.1em;
	padding-bottom: 0.1em;	
}

.imagem-galeria{
	
	display: block;
	margin: 2px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	width: auto;		
}

/* formataçao do texto que servirá como legenda para as imagens */
.legenda{
	font-weight: normal;
    margin: 2px;
    text-align: center;
	width: 117px; /* define o tamanho da área em que será exibida a legenda -
			se o valor for menor que a quantidade de caracteres, 
			ocorre uma quebra de linha */
}

.thumbnails {
	float: left;
	margin-right: 1em;
}

.img-big{
	
	image-resolution: from-image;
	width: 60%;
}

/* Configurando video */

video{
	height: auto;
	width: 50%;
}
figure{
	margin: 0 auto;
	min-width: 320px;
	width: 50%;
}

figcaption{
	font: 120% sans-serif; 
	text-align: center;
}

.movie{
	background-size: cover; 
	bottom: 0;
	min-height: 100%;
	min-width: 100%; 
	right: 0; 
	
}
/* Configurando tabelas*/
		
header{
	text-align: center;
}

/* Configurando a table */
table{
	border-collapse: separate;
    border-spacing: 0;
    width: auto;	
}

caption{
	font-size: 1.5em;
    font-weight: bold;
}

th.alternado,td.alternado{
	background-color: #efefef;
}

th{
	
	border-top: 1px solid #999;
	font-size: 90%;
	letter-spacing: 0.1em;
	text-align: left;
	text-transform: uppercase;
	
}

td{
	border-top: 1px solid #999;
}

th,td{
	
	padding: 7px; 
}

/* Configurando t´tulos */

h2{
	text-align: center;
}

/* Configurando imagens*/
div.thumbnail{
	border: 1px solid #000000;
    float: left;  /* alinhamento a esquerda */
    font-family: Arial;
	font-size: 12px;
    margin: 2px;
	max-width: 100%;
	text-align: center; /* texto da legenda alinhado no centro */
    
}



/* formatação das imagens */
div.thumbnail img{
 	border: 1px solid #ffffff;
    float: none;
 	margin: 3px;
	
}

/* uma borda será exibida quando passar o mouse sobre a imagem */
div.thumbnail a:hover img {
	border: 1px solid #000000
}

/* Configurando rodapé */
footer{
	color: white;
	font-weight: bold;
	position: relative;	
	text-align: center;	
}


