/*************************** Configurando estilo***************************/

/* Smartfones e dispositivos de tela pequenas*/
@media screen{
	/*Definições de estilos*/

}

@media screen and (min-width:481px){
	/*Definições de estilos*/
	body{
		min-width: 481px;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		background-color: #01DF01;
	}
}


body{
	
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #CEF6F5;
}

img.img-foto{
	width: 20%;
	height: 10%;
}
div.figura {
  float: left;
  width: 15%;
  border: thin silver solid;
  margin: 0.4em;
  padding: 0.4em;
}
div.figura p {
  text-align: center;
  font-style: italic;
  font-size: 0.6em;
  text-indent: 0;
}

.galeria{
	
	width: 920px;
	height: 620px;
	border: thin black solid;
	padding-bottom: 0.1em;
	margin: 0.5em;
	padding: 0.5em;

}

.clear{
	clear: both;
}

.thumbnails {
	float: left;
	margin-right: 1em;
}

.imagem-pequena{
	
	width: 100%;
	border: thin silver solid;
}

.imagem-grande{
	
	background-size:1330px 1200px;	
  
}
 

header{
	text-align: center;
}

table{
	width: auto;
	border-collapse: separate;	
}

caption{
	font-weight: bold;
	font-size: 1.5em;
}

tr.alternado{
	background-color: #efefef;
}

th{
	text-transform: uppercase;
	border-top: 1px solid #999;
	
	text-align: left;
	font-size: 90%;
	letter-spacing: 0.1em;
}

td{
	border-top: 1px solid #999;
}

th,td{
	
	padding: 7px;
}

